img {
    border-radius: 50%;
    margin-top: 10px;
    width: 100px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.age {
    margin-left: 10px;
}
.birth {
    margin-left: 10px;
}
.from {
    margin-left: 10px;
}
.live {
    margin-left: 10px;
}
.work {
    margin-left: 10px;
}
ion-icon {
    margin: 6px;
}
