<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-container>
    <div>
      <img src="../../assets/1.jpg" class="center">
      <h3 class="ion-text-center">Marvin I. Menaling</h3>
    </div>
    <div>
      <ion-list>
        <ion-item><ion-icon name="person-outline"></ion-icon>I'm
          <ion-label class="age">27 Years Old</ion-label>
        </ion-item>
        <ion-item><ion-icon name="calendar-outline"></ion-icon>Born on
          <ion-label class="birth">July 10, 1994</ion-label>
        </ion-item>
        <ion-item><ion-icon name="location-outline"></ion-icon>From
          <ion-label class="from">Carigara, Leyte</ion-label>
        </ion-item>
        <ion-item><ion-icon name="home-outline"></ion-icon>Lives in
          <ion-label class="live">Carigara, Leyte</ion-label>
        </ion-item>
        <ion-item><ion-icon name="briefcase-outline"></ion-icon>And im a
          <ion-label class="work">Student</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-container>
</ion-content>
